CLIENT_ID=seu-client-id-aqui
TENANT_ID=seu-tenant-id-aqui
EMAIL_TESTE=seu-email-aqui
EMAIL_COMERCIAL=seu-endereco-comercial

ARQUIVO_EXCEL=dados_disparo.xlsx
PLANILHA=Base Disparo
IMAGEM_PROMO=imagem_promocional.jpeg
IMAGEM_ASSINATURA=assinatura.png

TEMPLATE_EMAIL=templates/email.html